.contact {
  padding: 5rem 2rem;
  background: #FEFEFE;
}

.contact-content {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .contact {
    padding: 3rem 1rem;
  }
}

